* {
  font-family: Roboto, sans-serif;
  background-color: rgb(220, 220, 220);
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 80px;
  align-items: center;
  margin-bottom: 34px;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 400px;
  width: 400px;
}

.grid-item {
  background-color: rgb(255, 255, 255);
}

.controls-container{
  text-align: center;
  margin-top: 34px;
}

.range-value {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}